body {
    width: 80%;
    margin: 0 auto;
}

a.btn.btn-primary {
    position: relative;
    left: 45%;
}

.card-img-top {
    padding: 1rem;
}

@media (min-width: 768px) {
    body {
        width: 50%;}
    }